@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  font-family: Poppins; 
  scroll-behavior: smooth;
}

body{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
}

#nombre{
    color: white;    
    padding-left: 30px;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    position: sticky;
    height: 60px;
    z-index: 10;
}

#navul {
    list-style-type: none;
    display: flex; 
    padding-right: 50px;
    padding-top: 10px;
}

.navli a{
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    align-items: center;
 }



 #sectioninici{
    background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 100%;
    overflow:hidden;
    position:relative;
    z-index: 1;
 }

 #contentinici{
    color:white;
    position:absolute;
    z-index:1;
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 600px;
    width: 100%;
 }


 #titolsobremi{
     padding-top: 60px;
     width: auto;
     height: 75px;
     justify-content: center;
     text-align: center;
 }

 #skillssobremi{
    display: flex;
    flex-direction: row;
    color: white;
 }

 #descipcio{
    display: flex;
    flex-direction: column;
 }

 #psobremi{
     color: white;
     padding-left: 40px;
 }

 #gradient{
    background: linear-gradient(-70deg, #9fdee9, rgb(11, 3, 87))
}

footer {
    background-color: #f9faff;
    display: flex;
    justify-content: center;
}
  
.explicacio{
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-align: justify;
    text-justify: inter-word;
}

.habilitats{
    color: black;
    display: grid;
    grid-template-rows: 50% 50%;
    row-gap: 3ch;
    z-index: 3;
}

#fotodemi{
    padding-bottom: 50px;
    margin-left: 5pc;

}

#quisoc{
    text-align: center;
}

#lenguajes{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.photo{
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

#texthab{
    text-align: center;
}



ul{
    list-style-type: circle;
    padding-left: 50px;
    padding-bottom: 20px;
}


#titolprojectes{    
    text-align: center;
}

#refprojectes{
    background-color: #f7f7f7;
    width: auto;
}

#hobbies{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: justify;
    text-justify: inter-word;
    padding-right: 50px;
}

.espai{
    width: auto;
    height: 50px;
}

#basket{
    padding-left: 100px;
}

#texthobbies{
    padding-left: 50px;
}

#claus{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.musica{
    width: 58px;
    height: 58px;
}

.cv{
    background-color: #343435;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#cvtext{
    color: #9fdee9;
}